/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: #333;
  /* Adaptação dos inputs ao PAI */
  box-sizing: border-box;
}

/* //ajustar imagem na tela de acordo com os itens inseridos */
html {
  height: 100vh;
}

body {
  background-image: url('../image/todo2.jpg');
  background-position: center;
  /* Adaptação da imagem a tela */
  background-size: cover;
}

button {
  color: #102f5e;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#todo-list img {
  width: 23px;
  height: 23px;
}

.form-control img {
  width: 30px;
  height: 30px;
}

#search img {
  width: 30px;
  height: 30px;
}

.finish-todo:hover {
  background-color: #50a56c;
  color: #fff;
  border-radius: 20%;
}
.edit-todo:hover {
  background-color: #ccc;
  color: #fff;
  border-radius: 20%;
}
.remove-todo:hover {
  background-color: coral;
  color: #fff;
  border-radius: 20%;
}

/* button:hover > img {
  color: #fff;
} */

button img {
  color: #102f5e;
  font-weight: bold;
  /*  Desabilitar eventos do icone */
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/*  Todo header */
.todo-container {
  max-width: 650px;
  margin: 3rem auto;
  background-color: #ececec;

  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
  width: 80%;
}

.form-control input[type='date'],
.form-control #todo-criador {
  width: 32%;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/*  Todo toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/*  Todo list */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: #50a56c;
}

.done h3 {
  color: #fff;
  /*  Quando a linah passa pelo texto */
  text-decoration: line-through;
  font-style: italic;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer h3 {
  font-size: 14px;
  padding: 0.5rem;
}
.foo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccc;
}

.foo a {
  padding: 0.3rem;
  font-size: 20px;
}

.foo a:hover {
  border: 2px solid rgb(255, 240, 31);
  background-color: rgb(255, 240, 31);
}
